.product .pro-image .big-img {
    background-image: url('../../image/products-image11.webp');
}

.product .second-image .sec1 {
    background-image: url('../../image/products-image11.webp');
}
.product .second-image .sec2 {
    background-image: url('../../image/products/products11/n1.webp');
}
.product .second-image .sec3 {
    background-image: url('../../image/products/products11/n2.webp');
}
.product .second-image .sec4 {
    background-image: url('../../image/products/products11/n3.webp');
}

.product .pro-content .pro-colors .colors .b-color .color.c1 {background-color: #A6A19C;}

.product .pro-content .pro-colors .colors .b-color .color.c2 {background-color: #32302F;}

.product .pro-content .pro-colors .colors .b-color .color.c3 {background-color: #E0DED8;}

.product .pro-content .pro-colors .colors .b-color .color.c4 {background-color: gray;}