.product .pro-image .big-img {
    background-image: url('../../image/products-image2.webp');
}

.product .second-image .sec1 {
    background-image: url('../../image/products-image2.webp');
}
.product .second-image .sec2 {
    background-image: url('../../image/products/products2/n1.webp');
}
.product .second-image .sec3 {
    background-image: url('../../image/products/products2/n2.webp');
}
.product .second-image .sec4 {
    background-image: url('../../image/products/products2/n3.webp');
}

.product .pro-content .pro-colors .colors .b-color .color.c1 {background-color: #6C6D4C;}

.product .pro-content .pro-colors .colors .b-color .color.c2 {background-color: #f6efd0;}

.product .pro-content .pro-colors .colors .b-color .color.c3 {background-color: #A37818;}

.product .pro-content .pro-colors .colors .b-color .color.c4 {background-color: #4D4D4B;}